[Unit]
Description=QDT Agent
After=default.target
[Service]
; it's actually default type
; TODO: Type=simple
Type=oneshot
ExecStart=agent
; TODO: Restart=always
[Install]
WantedBy=default.target
